language: android
dist: trusty

before_install:
  - wget https://services.gradle.org/distributions/gradle-6.6.1-bin.zip
  - unzip gradle-6.6.1-bin.zip
  - export GRADLE_HOME=$PWD/gradle-6.6.1
  - export PATH=$GRADLE_HOME/bin:$PATH
  - echo y | sdkmanager --update
  - echo y | sdkmanager "platform-tools"
  - echo y | sdkmanager "platforms;android-30"
  - echo y | sdkmanager "ndk-bundle"
  - echo y | sdkmanager "ndk;21.0.6113669"
  - echo y | sdkmanager "cmake;3.10.2.4988404"

script:
  - gradle assembleDebug
  - gradle lint

android:
  components:
    - platform-tools
    - tools
    - build-tools
    - android-30

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
